{
  "extends": [
    "stylelint-config-hudochenkov/order",
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "order/properties-alphabetical-order": null,
    "max-nesting-depth": 4,
    "selector-no-qualifying-type": null,
    "no-descending-specificity": null,
    "no-empty-source": null,
    "color-hex-length": "long"
  }
}
