@font-face{
    font-family: 'BigNoodle';
    src: url('~assets/fonts/bigNoodleRegular/big_noodle_titling.woff2') format('woff2'),
    url('~assets/fonts/bigNoodleRegular/big_noodle_titling.woff') format('woff'),
    url('~assets/fonts/bigNoodleRegular/big_noodle_titling.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'BigNoodle';
    src: url('~assets/fonts/bigNoodleOblique/big_noodle_titling_oblique.woff2') format('woff2'),
            url('~assets/fonts/bigNoodleOblique/big_noodle_titling_oblique.woff') format('woff'),
    url('~assets/fonts/bigNoodleOblique/big_noodle_titling_oblique.ttf') format('truetype');
    font-weight: 400;
    font-style: oblique;
}