// Variables
//
// These variables overwrite the bootstrap variables.
// node_modules/bootstrap/scss/_variables.scss

// Breakpoints

$grid-xs: 0;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1280px;

$grid-breakpoints: (
    xs: $grid-xs,
    sm: $grid-sm,
    md: $grid-md,
    lg: $grid-lg,
    xl: $grid-xl,
);

$container-max-widths: (
    sm: $grid-sm,
    md: $grid-md,
    lg: $grid-lg,
    xl: $grid-xl,
);

// Color system

$primary: #fdd207;
$secondary: #5907fd;
$teriary: #07abfd;

$accent-light: #7e8287;
$accent-dark: #bd4f26;

$white: #ffffff;
$gray-100: #f3f3f3;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #d8d8d8;
$gray-500: #adb5bd;
$gray: #999999;
$gray-600: #6c757d;
$gray-700: #565656;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000000;

$light: #f8f7f7;
$dark: #23202a;

// Create higher contrast for ligth backgrounds
$yiq-text-dark: $black;

$info: $dark;
$warning: #fca808;
$danger: #f44336;
$success: #7eb840;

$theme-colors: ();

$theme-colors: map-merge(
    (
        'primary': $primary,
        'secondary': $secondary,
        'info': $info,
        'warning': $warning,
        'danger': $danger,
        'success': $success,
        'light': $light,
        'dark': $dark,
        'accent-light': $accent-light,
        'accent-dark': $accent-dark,
    ),
    $theme-colors
);

// Bootstrap options

$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;
